.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-loader > div {
  position: fixed;
  transform: translateY(var(--dani-xl));
}
/*LOADING*/
.loader {
  animation: rotate 1s infinite;
  height: var(--dani-xl);
  width: var(--dani-xl);
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: var(--dani-m);
  width: var(--dani-m);
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--dani-black-color);
  box-shadow: var(--dani-l) 0 0 var(--dani-red-color);
  margin-bottom: var(--dani-s);
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--dani-red-color);
  box-shadow: var(--dani-l) 0 0 var(--dani-black-color);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: var(--dani-l) 0 0 var(--dani-red-color);
  }
  50% {
    box-shadow: 0 0 0 var(--dani-red-color);
    margin-bottom: 0;
    transform: translate(var(--dani-15), var(--dani-15));
  }
  100% {
    box-shadow: var(--dani-l) 0 0 var(--dani-red-color);
    margin-bottom: var(--dani-s);
  }
}

@keyframes ball2 {
  0% {
    box-shadow: var(--dani-l) 0 0 var(--dani-black-color);
  }
  50% {
    box-shadow: 0 0 0 var(--dani-black-color);
    margin-top: -20px;
    transform: translate(var(--dani-15), var(--dani-15));
  }
  100% {
    box-shadow: var(--dani-l) 0 0 var(--dani-black-color);
    margin-top: 0;
  }
}
