.hero {
  background-color: black;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero > a {
  transition: all 0.3s;
}
.hero > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero > a:hover {
  transform: scale(1.1);
}
.favoritesLength {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.favoritesLength > span {
  color: white;
  font-size: 12px;
}
