.hero {
  background-color: var(--dani-black-color);
  padding: var(--dani-15) var(--dani-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero > a {
  transition: all 0.3s;
}
.hero > div {
  display: flex;
  align-items: center;
  gap: var(--dani-xs);
}
.hero > a:hover {
  transform: scale(1.1);
}
.favoritesLength {
  display: flex;
  gap: var(--dani-xs);
  justify-content: center;
  align-items: center;
}
.favoritesLength > span {
  color: var(--dani-white-color);
  font-size: var(--dani-s);
}
