.card-character {
  width: 189.97px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}
.image-card {
  display: flex;
  width: 100%;
  height: 185px;
}
.image-card > img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.line {
  width: 100%;
  height: 3px;
  background-color: red;
}
.contain-card {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 0 0 17px 0;
}
.contain-card > h2 {
  color: white;
  font-size: 14px;
}

.card-character:hover .image-card img:hover {
  transform: scale(1.07);
}
