.card-character {
  width: 189.97px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}
.image-card {
  display: flex;
  width: var(--dani-full);
  height: 185px;
}
.image-card > img {
  width: var(--dani-full);
  height: var(--dani-full);
  display: flex;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.line {
  width: var(--dani-full);
  height: 3px;
  background-color: var(--dani-red-color);
}
.contain-card {
  background-color: var(--dani-black-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--dani-s);
  border-radius: 0 0 17px 0;
}
.contain-card > h2 {
  color: white;
  font-size: var(--dani-15);
}

.card-character:hover .image-card img:hover {
  transform: scale(1.03);
}

@media (max-width: 449px) {
  .card-character {
    display: flex;
    width: 100%;
    margin: 10px 0;
  }
}
