.margin {
  margin: 0 var(--dani-l);
}
.container {
  width: var(--dani-full);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--dani-s);
  margin: var(--dani-m) 0;
}
@media (max-width: 449px) {
  .container {
    display: block;
    width: 100%;
  }
}
