.container-search {
  width: var(--dani-full);
  padding: var(--dani-s) 0;
  display: flex;
  flex-direction: column;
  gap: var(--dani-s);
}
.container-search > div > button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
.container-search > div {
  border-bottom: 1px solid gray;
  padding: var(--dani-s) 0;
  display: flex;
  align-items: center;
  gap: var(--dani-s);
}
.container-search > div > input {
  border-style: none;
  width: var(--dani-full);
  padding: var(--dani-s);
  transition: all 0.3s;
}
.container-search > div > input:focus {
  border: none;
  outline: none;
  font-size: var(--dani-15);
}
.container-search > p {
  font-size: var(--dani-15);
  font-weight: 600;
  text-transform: uppercase;
}
