.containerFavorite {
  display: flex;
  flex-direction: column;
  margin: var(--dani-m) 0;
}
.containerFavorite > div > h3 {
  text-transform: uppercase;
}
.containerCards {
  margin: var(--dani-m) 0;
  display: flex;
  gap: var(--dani-s);
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 449px) {
  .containerCards {
    display: block;
    width: 100%;
  }
}
