#container-details {
  width: 100%;
}
#characterContainer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.characterContainer {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.container-image {
  width: 40%;
  height: 100%;
  display: flex;
}
.container-image > img {
  object-fit: cover;
  width: 100%;
}
.container-description {
  padding: 20px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: start;
  gap: 10px;
}
.container-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-description > div > h2 {
  font-size: 2.5rem;
}
.containerComics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containComics {
  background-color: white;
  width: 70%;
  margin: 20px 0;
}
.titleContainer {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}
.containComic {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 20px 0;
  overflow-x: auto;
}

@media (max-width: 1069px) {
  .container-image {
    width: 50%;
    height: auto;
  }
  .container-description {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 680px) {
  .characterContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .container-image {
    width: 100%;
    height: auto;
  }
  .container-description {
    width: auto;
    height: auto;
    padding: 20px 10px;
  }
  .containComics {
    width: 95%;
  }
}
