#container-details {
  width: var(--dani-full);
}
#characterContainer {
  width: var(--dani-full);
  background-color: var(--dani-black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 var(--dani-l) 0;
}
.characterContainer {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.container-image {
  width: 40%;
  height: var(--dani-full);
  display: flex;
}
.container-image > img {
  object-fit: cover;
  width: var(--dani-full);
}
.container-description {
  padding: var(--dani-m) 40px;
  color: var(--dani-white-color);
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: start;
  gap: var(--dani-s);
}
.container-title {
  width: var(--dani-full);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerComics {
  width: var(--dani-full);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containComics {
  background-color: var(--dani-white-color);
  width: 70%;
  margin: var(--dani-m) 0;
}
.titleContainer {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin: var(--dani-m) 0;
}
.containComic {
  display: flex;
  gap: var(--dani-s);
  width: var(--dani-full);
  padding: var(--dani-m) 0;
  overflow-x: auto;
}

@media (max-width: 1069px) {
  .container-image {
    width: 50%;
    height: auto;
  }
  .container-description {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 680px) {
  .characterContainer {
    width: var(--dani-full);
    height: auto;
    flex-direction: column;
  }
  .container-image {
    width: var(--dani-full);
    height: auto;
  }
  .container-description {
    width: auto;
    height: auto;
    padding: var(--dani-m) 10px;
  }
  .containComics {
    width: 95%;
  }
  #characterContainer {
    border-radius: 0px;
  }
  .container-description {
    width: 80%;
  }
}
